@page
@model AddCategoryModel
@{
    ViewData["Title"] = "Добавить категорию";
}

<h2>Добавить категорию</h2>

<form method="post">
    <div>
        <label>Название категории:</label>
        <input asp-for="Category.Name" />
    </div>
    <button type="submit">Добавить</button>
    <a asp-page="/Welcome">Вернуться</a>
</form>
